# Server Configuration
PORT=5000

# MongoDB Atlas Connection String
# Get this from your MongoDB Atlas dashboard
MONGO_URI=your_mongodb_atlas_connection_string

# Redis Configuration (for Bonus: cluster state sync)
# You can get a free instance from services like "Redis Labs" or run it locally
REDIS_URL=redis://127.0.0.1:6379


FRONTEND_URL=http://localhost:5173